.navbar a{
    color: blue;
    text-decoration: none;
    padding:15px;
    display:block;
    text-align: center;
}
.navbar ul{
    background-color: aqua;
    list-style-type: none;
    padding: 0px;
    margin:0px;
    overflow:hidden;
    
}
.navbar a:hover{
    background-color: bisque;
}
.navbar li{
    float: left;
}