*{
    margin:0;
    padding: 0;
}
.main{
    width: 100;
    background: lightgoldenrodyellow;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
body {
    background-color: beige;
}
.nav ul{
    float: right;
}
.logo{
    color: darkslategray;
}