footer {
    background-color: #222;      
    color: #fff;                 
    padding: 20px 40px;          
    text-align: center;          
    font-family: Arial, sans-serif;
  }
  
  footer a {
    color: #1e90ff;             
    text-decoration: none;
    margin: 0 10px;              
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #ffffff;              
    text-decoration: underline;
  }
  
  footer .footer-links {
    margin-bottom: 10px;
  }
  
  


  .nav a:hover{
    color: #007BFF;

  }
    

    .navbar {
      
      padding: 10px 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    text-align: center;
    padding: 20px;
  }
  ul li a{
    text-decoration: none;
    color: rgb(30, 103, 163);
    font-weight: bold;
    transition:0.4s ease-in-out;
  }
    track order {
        width: 330px;
        float: left;
        margin-left: 270px;
    }
   ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center

   }


